body {
  margin: 0;
  background: linear-gradient(55deg, violet, blue, darkblue);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
 
  color: white;
}

.container {
  background-color: rgba(147, 58, 255, 0.8); /* Adicionei transparência */
  width: 700px;
 
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centraliza o texto dentro */
}

h1 {
  color: white; /* Cor do texto branca */
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 5px;
}

a {
  display: inline-block;
  background: linear-gradient(45deg, violet, blue);
  border-radius: 20px;
  border: 1px solid black;
  color: white;
  padding: 10px 60px;
  text-decoration: none;
  outline: none;
  transition: all 0.3s ease;
}

a:hover {
  background: linear-gradient(45deg, blue, violet, rgb(63, 63, 112));
  color: rgb(181, 180, 181);
}


.biblio{
  border:1px solid red;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: start;
}

