<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Biblioteca Pessoal</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet"  type="text/css" href="{% static 'estiloTP.css' %}"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="container">
    <div class="ap">
      <h1>Biblioteca Pessoal</h1>
    </div>
    <div class="cadas">
      <!-- <a href="{% url 'telaCadastro' %}"> cadatrar</a> -->
      <form method="POST" class="formula">
        {% csrf_token %}
        {{ form_livro.as_table }}
        <!-- separando botão para estilizar separadamente -->
        <div class="butao">
          <p>
            <input type="submit" value="cadastrar"/>
          </p>
        </div>
      </form>
    </div>
    <div class="biblio">
       <p>
          Livros
       </p>
       {% for livro in Livros %}
        <p class="">
          Título:{{livro.titulo}}     
          Status:{{livro.status}}
          | <a href="{% url 'telaEditar' livro.id %}"><i class="fa-solid fa-circle-user"></i> Editar</a>
          | <a href="{% url 'telaRemover' livro.id %}">Remover</a>
        </p>
       {% empty %}
        <p>
          Não existem Livros Cadastrados
        </p>
       {% endfor %}
    </div>
  </div>
</body>
</html>